<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Dashboard Utente - SiwGym</title>
    <link rel="stylesheet" href="/css/dashboardStyle.css">
</head>
<body>
    <header>
        <h1>SiwGym</h1>
        <a href="/logout">Logout</a>
    </header>

    <main class="container">
        <h2>Pannello di controllo</h2>
        <div class="dashboard-container">
            <div class="sidebar">
                <h3>Navigazione</h3>
                <nav class="sidebar-menu">
                    <a href="/">Home Page</a>
                    <a href="/user/profile">Profilo</a>
                    <a href="/user/activeCourse">Corsi Attivi</a>
					<a href="/user/myBookings">Le mie Prenotazioni</a>
                </nav>
            </div>
            
            <div class="main-content">
                <h2>Benvenuto, <span sec:authentication="name">Utente</span>!</h2>
                <p>Riepilogo delle tue attività e del tuo stato attuale in palestra.</p>
                
                    
                    <div class="info-card">
                        <h3>Prenotazioni</h3>
                        <p>Hai <strong th:text="${bookingCount}">0</strong> lezioni prenotate.</p>
                        <a href="/user/myBookings" class="btn btn-secondary">Visualizza</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 SiwGym. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>