<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dettagli Staff - SiwGym</title>
	<link rel="stylesheet" href="/css/manageStyle.css">
</head>
<body>
    <div class="container">
        <h2>Dettagli Staff</h2>

        <div class="staff-details">
            <p><strong>ID:</strong> <span th:text="${staff.id}"></span></p>
            <p><strong>Nome:</strong> <span th:text="${staff.name}"></span></p>
            <p><strong>Cognome:</strong> <span th:text="${staff.surname}"></span></p>
            <p><strong>Email:</strong> <span th:text="${staff.email}"></span></p>
            <p><strong>Specializzazione:</strong> <span th:text="${staff.specialization}"></span></p>
        </div>

        <div class="text-center">
            <a href="/admin/manageStaff" class="btn btn-secondary">Torna alla Gestione Staff</a>
        </div>
    </div>
</body>
</html>
