<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Dashboard Admin - SiwGym</title>
    <link rel="stylesheet" href="/css/dashboardStyle.css">
</head>
<body>
    <header>
        <h1>SiwGym</h1>
        <a href="/logout">Logout</a>
    </header>
    
    <main class="container">
        <h2>Pannello di Controllo Amministratore</h2>
        
        <div class="dashboard-container">
            <div class="sidebar">
                <h3>Gestione</h3>
                <nav class="sidebar-menu">
                    <a href="/">Home Page</a>
                    <a href="/admin/manageUsers">Gestione Utenti</a>
                    <a href="/admin/manageStaff">Gestione Staff</a>
                    <a href="/admin/manageCourses">Gestione Corsi</a>
                </nav>
            </div>
            
            <div class="main-content">
                <h2>Bentornato, <span sec:authentication="name"></span>!</h2>
                <p>Riepilogo delle statistiche principali dell'applicazione.</p>
                
                <div class="info-cards">
                    <div class="info-card">
                        <p>Utenti Registrati: <strong th:text="${userCount}">0</strong></p>
                    </div>
                    <div class="info-card">
                        <p>Membri dello Staff: <strong th:text="${staffCount}">0</strong></p>
						   Admin: <span><strong th:text="${adminCount}">0</strong></span><br>
						   Trainer: <span><strong th:text="${trainerCount}">0</strong></span>
                    </div>
                    <div class="info-card">
                        <p>Corsi Attivi: <strong th:text="${courseCount}">0</strong></p>
                    </div>
					<div class="info-card">
					    <p>Slot Attivi: <strong th:text="${courseSlotCount}">0</strong></p>
					</div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>